@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500&display=swap");
.container {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.side_bar {
  width: 20%;
  min-height: 100vh;
  background-color: #f9f9f9;
  border: 1px solid #d9dbe9;
  padding-top: 2rem;
}

.list_ul {
  list-style: none;
  margin-top: 3rem;
}

.list_li {
  text-decoration: none;
}

.list_inner {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  color: #14142b;
  margin-top: 1rem;
  border-left: 0.3rem solid #fff;
  border-radius: 5px;
}

.active .list_inner {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  border-left: 0.3rem solid #1d9bf0;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.43);
}

.icon_div {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active .icon_div {
  background: #1d9bf0;
}

.img_div {
  margin-left: 3rem;
}

.main_wrap {
  width: 80%;
  min-height: 100vh;
  background-color: #f9f9f9;
  overflow-x: scroll;
}

.main_list_wrap {
  width: 95%;
  height: 100%;
  margin-left: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main_list_wrap > * {
  flex: 0 0 228px;
  height: 224px;
  background: #ffffff;
  border-radius: 10px;
  flex-direction: column;
}

.bgOne {
  position: relative;
  top: 0;
  left: 0;
}

.heart_hold {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.person_one {
  margin-top: -20px;
  z-index: 1000;
  position: relative;
}

.name_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.person_name {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 0.4rem;
}

.person_amount {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  display: flex;
  align-items: center;
  margin-left: 0.4rem;
  color: rgba(0, 0, 0, 0.49);
}

.person_hire {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 26px;
  display: flex;
  align-items: center;
  margin-right: 0.3rem;
  color: #1d9bf0;
}

.currency_div {
  width: 90%;
  height: 100px;
  margin-left: 4rem;
  display: flex;
  justify-content: space-between;
}

.curr_inp {
  width: 167px;
  height: 47px;
  border: 1px solid #8692a6;
  box-sizing: border-box;
  border-radius: 6px;
}
